# Build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Debug / symbols
*.pdb
*.mdb

# Assemblies
*.dll
*.exe

# tools
/tools/

# Cache / temp
*.cache
*.tmp

# SourceLink
sourcelink.json

# OS
Thumbs.db
.DS_Store
Source/obj/Release/net472/CheeseProtocol.AssemblyInfo.cs
Source/obj/Release/net472/CheeseProtocol.AssemblyInfoInputs.cache
